* {
    margin: 0%;
    padding: 0%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #333;
}

::-webkit-scrollbar-thumb {
    background: #008037;
}

::-webkit-scrollbar-thumb:hover {
    background: #005023;
}

body {
    background-image: url('../img/fundocarrossel.png');
}

.bg-light {
    background-image: linear-gradient(rgb(0, 0, 0), rgb(78, 78, 78));
}

.controlecarrossel {
    margin-top: 3%;
}

.btnprev {
    float: right;
    margin-right: 80%;
}

.btnnext {
    float: left;
    margin-left: 80%;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.texto .subtitulos {
    display: block;
    padding-top: 3vh;
    padding-bottom: 1vh;
}

.subtitulos {
    font-weight: 600;
    color: #008037;
    font-size: 2rem;
}

.carrosselbtns {
    margin-bottom: 11vh;
}

.postagenstitle {
    display: flex;
    color: #FFF;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3.5rem;
    font-weight: 600;
    margin-top: 7vh;
    padding-bottom: 2vh;
}

.copyrightfooter {
    text-decoration: none;
    background-color: #333;
    padding: 15px;
    text-align: center;
}

.copyrightfooter a {
    text-decoration: none;
    color: #008037;
    font-weight: 600;
}

.copyrightfooter span {
    text-decoration: none;
    color: #ffffff;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(37, 38, 43);
    height: 30vh;
}


.navegacaofooter {
    display: flex;
    float: left;
    align-items: center;
    max-width: 10%;
}

.navegacaofooter ul li {
    margin-top: 2vh;
    list-style-type: none;
}

.navegacaofooter a {
    text-decoration: none;
    color: #008037;
    font-weight: 600;
    font-size: 1.1rem;
}

.footerdireta {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    width: 90%;
}

.footerdireta .textofooter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
    margin-top: 5vh;
}

.footerdireta .textofooter p {
    text-align: center;
    width: 70%;
    color: #FFF;
}

.footerdireta .iconesfooter {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 100%;
}

.footerdireta .iconesfooter ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.footerdireta .iconesfooter ul li {
    padding: 10px;
    color: #008037;
    list-style-type: none;
}

.texto ul li a {
    text-decoration: none;
    color: #008037;
    font-weight: 600;
}

.texto ul li a:hover {
    color: #00b850;
}